$primary-dark-color: #010B13;
$primary-light-color: #FDFFFC;
$accent-color-red: #E71D36;

@import
url("https://fonts.googleapis.com/css?family=Fira+Sans");

.dark-mode {
    color: #FDFFFC;
    background-color: #010B13;
}

body {
    background-color: #FDFFFC;
    color: #010B13;
    padding: 1vh 1vw;
    font-family: "Fira Sans", sans-serif;
}

.main_bar {
    display: flex;
    align-items: center;
    .main_nav {
        flex: 4;
        padding-left: 0;
        list-style: none;
        li {
            font-family: "Fira Sans", sans-serif;
            display: inline-block;
            padding: 10px 15px;
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: #E71D36;
                cursor: pointer;
            }
            a {
                color: inherit;
                text-decoration: inherit;
            }
        }
    }
    .spacer {
        flex: 1;
    }
    .main_logo {
        color: inherit;
        padding: 10px 10px;
        background-color: #E71D36;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.line {
    border: 2px solid $accent-color-red;
}

.main_about {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    .title {
        flex: 1;
        font-size: 150%;
        padding-bottom: 15px;
    }
    .body_par {
        flex: 1;
        line-height: 40px;
    }
}

.course_cat {
    padding: 15px 15px;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.course_list {
    padding: 15px ;
    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        div {
            flex:1;
            a:hover {
                transition: all 0.3s ease 0s;
                background-color: $accent-color-red;
                cursor: pointer;
            }
            a {
                color: inherit;
                text-decoration: inherit;
                outline-style: solid;
                outline-color: $accent-color-red;
                padding: 0px 5px;
            }
            p {
                padding-left: 15px;
                display: inline;
                line-height: 30px;
            }
        }
        p {
            flex:2;
        }
    }
}

.main_discs {
    font-family: "Fira Sans", sans-serif;
    font-size: large;
    padding: 10px 0px;
    line-height: 75px;
}

.discord_links {
    display: table;
    margin: 0;
    li {
        text-align: left;
        width: 150px;
        font-family: "Fira Sans", sans-serif;
        font-size: medium;
        list-style: none;
        padding: 0px 30px;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: #E71D36;
            cursor: pointer;
        }
        a {
            color: inherit;
            text-decoration: inherit;
        }
    }
}

.events {
    padding: 15px 15px;
}
.events_list {
    list-style: none;
}

.resources {
    padding: 15px 15px;
}
.resources_list {
    list-style: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 39px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #010B13;
        transition: .3s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 6px;
        bottom: 6px;
        background-color:#E71D36;
        transition: 0.3s;
    }
}

input:checked + .slider {
    background-color: #FDFFFC;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #FDFFFC;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}











